@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body{
    font-family: 'Noto Serif', serif;
}

*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
}

img{
    width: 350px;
}

nav{
    display: flex;
    border-bottom: solid 3px black;
    justify-content: space-between;
    background-color: rgb(130, 148, 196, 0.5);
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
}

li{
    margin-right: 50px;
}

a{
    text-decoration: none;
    color: black;
}

#contenedor{
    position: fixed;
    width: 100%;
}

#anuncio{
    text-align: center;
    padding: 5px;
    background-color: rgb(130, 148, 196);
}

#info{
    display: flex;
    justify-content: space-between;
    background-color: rgb(172, 177, 214);
}

#info ul{
    margin: auto;
    padding: 5px;
}

h1, h2{
    text-align: center;
    margin: 10px;
    text-decoration: underline ;
}

#buttonCart{
    width: 50px;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(130, 148, 196);
    border: solid 1px black;
}

#buttonCart:hover{
    background-color: rgb(172, 177, 214);
}

#header img{
    width: 100%;
}

#contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

#contenedor-carrito{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.productoEnCarrito{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 5px;
    background-color: rgb(130, 148, 196);
    font-size: 15px;
    height: 100px;
    padding: 20px;
    border-radius: 10px;
    line-height: 40px;
    align-items: center;
}

.productoEnCarrito p{
    margin: 10px;
    /* padding: 20px; */
}

.productoEnCarrito button{
    width: 50px;
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
}

#boton-carrito {
    border: none;
    font-size: 20px;
    background-color: rgb(130, 148, 196, 0.5);
    border-radius: 10%;
    padding: 15px 15px;
    transition: all .3s;
}

#botones{
    text-align: center;
}

#botones button{
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: solid 2px black;
    cursor: pointer;
}

#botones button:hover{
    background-color: rgb(130, 148, 196);
}

#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(172, 177, 214);
}
#boton-carrito:focus {
    outline: none;
}

/* #carrito-estilo{
    background-color: rgb(172, 177, 214);
    margin: 50px;
    border-radius: 30px;
    padding: 10px;
    border: solid 3px rgb(130, 148, 196);
} */

.precioProducto{
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
}

.producto{
    text-align: center;
    width: 200px;
    margin: 20px;
    padding: 15px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
}

.producto img{
    width: 200px;
}

.producto button{
    border:  none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.producto button:hover{
    background-color: rgb(130, 148, 196);
    color: white;
}

#infoFooter{
    display: flex;
    justify-content: space-around;
}

footer{
    border-top: solid 3px black;
    padding: 30px;
    background-color: rgb(130, 148, 196);
    font-size: 12px;
}

#social-media{
    text-align: center;
}

#social-media h3{
    font-size: 10px;
}

#social-media svg{
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 5px;
}